:root {

}


html {
    font-size: 16px;
    color: black;
    overflow: hidden;
	height: 100%;
}


body {
    background-color: white;
    overflow: scroll;
	height: 100%;

}


.main-container > div {
    border: 1px solid red;
}

.main-container {
    display: grid;
    grid-template-columns: max(18vw, 180px) 3fr;
    grid-template-rows: 1fr;
    height: 100%;
}




.main-page {
    display: grid;
    grid-template-rows: 180px 1fr;
}

.main-page > div {
    border: 1px solid red;
}


.page-header {
    padding: 3.5vh;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}


.search-bar {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1vw;
    margin-left: 1vw;
}

.search-bar input {
    width: 50%;
}

.header-notif {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.header-greeting {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    justify-items: start;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1vw;
}



.side-dash > p {

    font-size: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    text-align: center;


}

.side-dash ul {
    list-style: none;
    display: grid;
    gap: 3vh;
    margin-top: 5vh;
    margin-bottom: 8vh;
    
}


.main-page-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-page-content > div {
    border: 1px solid red;
}

.main-page-content ul {
    list-style: none;
}

.card-section {
    grid-row: 1 / -1;
}

.trending > ul {
    /* display: flex;
    flex-direction: column; */

    display: grid;
    gap: 2vh;
    /* justify-items: center; */
}

.trending li {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.announcements {
    display: flex;
    flex-direction: column;   
}

.announcements ul {
    display: grid;
    gap: 1vh;
}

.announcement-name,
.card-title {
    font-weight: 700;
}


.announcement-text {
    font-size: 0.8rem;
}


.card-section > ul {

    padding: 2vw;
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));


}


.card-title {
    font-size: 1.2rem;
}



.card-section > ul > li {
    background-color: aliceblue;
}




.profile-img {
    width: clamp(25px, 3.5vw, 45px);
    height: auto;
    border-radius: 30%;
}

.header-greeting .profile-img {
    width: clamp(50px, 6.5vw, 85px);
    height: auto;
    border-radius: 30%;
    justify-self: end;
    margin: 1vw;
}


.icon {
    /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
    width: clamp(15px, 2vw, 25px);
    height: auto;
}

#dash-icon {
    width: clamp(25px, 3.5vw, 45px);
    height: auto;
}

.side-dash li {
    display: flex;
    align-items: center;
    gap: 1vw;
}


@media (max-width: 760px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 7fr;   
    }

    .side-dash {
        
        
        display: flex;
        flex-wrap: wrap;
        font-size: 0.8rem;
        justify-content: space-around;
        padding: 1vw;
        align-items: center;
    }
    
    .side-dash ul { 
/* 
        display: grid;
        grid-template-columns: repeat(6, 1fr); */

        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 6vw;
        margin: 1vw;
        /* margin: 5vh 2vw; */
        justify-content: center;
        
    
    }

    .side-dash li {
        display: flex;
        flex-direction: column-reverse;

    }
}
