:root {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 16px;
    color: black;
    --page-header-fntColor: black;
    --side-dash-fntColor: bisque;
    --lg-title-font-size: 1.5rem;
    --standar-border-radius: 7px;
    --btn-standard-fntColor: black;
    --btn-standard-bgColor: rgb(235, 235, 235);
    --btn-standard-radius: 20px;
    --main-page-bgColor: rgb(235, 235, 235);;
    --page-header-bgColor: aliceblue;
    --side-dash-bgColor: rgb(94, 92, 92);
    --card-bgColor: aliceblue;
}


html {
    overflow: hidden;
	height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


body {
    background-color: white;
    overflow: scroll;
	height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.main-container {
    display: grid;
    grid-template-columns: max(18vw, 180px) 3fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}




.main-page {
    display: grid;
    grid-template-rows: 180px 1fr;
}

.page-header {
    color: var(--page-header-fntColor);
    padding: 3.5vh 4vw;
    display: grid;
    grid-template: 1fr 1fr / 5fr 3fr;
    background-color: var(--page-header-bgColor);
    box-shadow: 0px 3px 5px black;
    z-index: 1;
}


.search-bar {
    
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1vw;
    margin-left: 1vw;
}

.search-bar input {
    background-color: var(--btn-standard-bgColor);
    border-radius: var(--btn-standard-radius);
    border: none;
    padding: 7px;
    width: 65%;
}

.header-notif {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1vw;
}

.header-greeting {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    justify-items: start;
    font-weight: 600;
}

.header-greeting > div > div:nth-child(2) {
    font-size: 1.3rem;

}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1vw;

}

.header-buttons button {
    width: 100%;
    padding: 7px;
    color: var(--btn-standard-fntColor);
    background-color: var(--btn-standard-bgColor);
    border-radius: var(--btn-standard-radius);
    box-shadow: -2px 2px 3px black;
}

.side-dash {
    background-color: var(--side-dash-bgColor);
    color: var(--side-dash-fntColor);
}



.side-dash > p {

    font-size: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    text-align: center;


}

.side-dash ul {
    list-style: none;
    display: grid;
    gap: 3vh;
    margin-top: 5vh;
    margin-bottom: 8vh;
    
}


.main-page-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 3vh 3vw 0 0;
    background-color: var(--main-page-bgColor);
}


.main-page-content ul {
    list-style: none;
}

.card-section {
    grid-row: 1 / -1;
}


.trending > p,
.announcements > p {
    font-size: var(--lg-title-font-size);
    display: flex;
    align-items: center;
    gap: 1vw;
    margin: 0;
}

.trending {
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.trending > ul,
.announcements > ul {
    margin: 1vh;
    padding: 1vw;
    display: grid;
    gap: 2vh;
    box-shadow: 0px 2px 6px black;
    background-color: var(--card-bgColor);
    border-radius: var(--standar-border-radius);
    
}

.trending li {
    display: flex;
    align-items: center;
    gap: 1vw;
}



.announcement-name,
.card-title {
    font-weight: 700;
    
}


.announcement-text {
    font-size: 0.8rem;
}

.card-section > p {
    font-size: var(--lg-title-font-size);
    margin: 0 3vw;
}


.card-section > ul {
    padding: 0 2vw;
    display: grid;
    column-gap: 2vw;
    row-gap: 4vh;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card-text {
    margin-top: 0.5vh;
    font-size: calc(0.9rem + 0.2vw);
}


.card-title {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 0.3vw;
}



.card-section > ul > li {
    background-color: var(--card-bgColor);
    border-left: 5px solid var(--side-dash-bgColor);
    border-radius: var(--standar-border-radius);
    box-shadow: 0px 2px 6px black;
    padding: 1vw 1vw 1vw 1vw
}

.card-buttons {
    display: flex;
    justify-content: end;
    gap: 15px;
}




.profile-img {
    width: clamp(25px, 3.5vw, 45px);
    height: auto;
    border-radius: 30%;
}

.header-greeting .profile-img {
    width: clamp(50px, 6.5vw, 85px);
    height: auto;
    border-radius: 30%;
    justify-self: end;
    margin: 1vw;
}


.icon {
    filter: var(--icon-filter-color);
    width: clamp(15px, 2vw, 25px);
    height: auto;
}

#dash-icon {
    width: clamp(25px, 3.5vw, 45px);
    height: auto;
}

.side-dash li {
    display: flex;
    align-items: center;
    gap: 1vw;
}

button:hover {
    border: 3px solid grey;
    transition: border 0.5s ease-in-out;
}

button:active {
    box-shadow: none;
}

.search-bar input:hover {
    border: 1px solid black;
    transition: border 0.1s ease-in-out;
}

.card-section > ul > li:hover {
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

.card-section > ul > li:hover .card-title {
    border-bottom: 2px solid black;
    transition: border-bottom 0.3s ease-in-out;
}

.card-section li img:hover {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    transition: filter 0.3s ease-in-out;
}

.side-dash > ul > li:hover {
    color: #f0f8ff;
    transition: color 0.5s ease-out;
    filter: invert(97%) sepia(96%) saturate(1503%) hue-rotate(178deg) brightness(107%) contrast(110%);
}

.trending > ul > li:hover img {

    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    transition: filter 0.3s ease-in-out;
}

.announcements > ul > li:hover .announcement-name {
    font-size: 1.02rem;
    transition: font-size 0.3s ease-in-out;
}





@media (max-width: 760px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 7fr;   
    }

    .side-dash {
        
        
        display: flex;
        flex-wrap: wrap;
        font-size: 0.8rem;
        justify-content: space-around;
        padding: 1vw;
        align-items: center;
    }
    
    .side-dash ul { 
/* 
        display: grid;
        grid-template-columns: repeat(6, 1fr); */

        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 6vw;
        margin: 1vw;
        /* margin: 5vh 2vw; */
        justify-content: center;
        
    
    }

    .side-dash li {
        display: flex;
        flex-direction: column-reverse;

    }
}
